*, *::after, *::before{
    box-sizing: border-box;
}
body{
    padding: 0 3rem;
    max-width: 1000px;
    margin: 0 auto;
}
.title{
    text-align:center;
    font-size: 2.5rem;
    color:blue;
    border: burlywood;
    padding: 1rem 2rem;
    margin:1rem;
    max-height: 10%;
}
.blog-title{
    font-size: 2rem;
    margin:0;
}
p{
    margin:0;
    padding: 0;
}
article{
    margin-bottom: 2rem;
}
.btn{
    border:none;
    padding:.5rem 1rem;
    cursor:pointer;
    margin-top: 1rem;
    border-radius: 5px;
    transition: 200ms ease;
}
.btn:hover{
  background-color: #999;
}

[data-expandable] [data-expandable-text]{
    --line-height:1.5;
    --lines-to-show:3;
    box-sizing: border-box;
    line-height: var(--line-height);
    overflow: hidden;
    height: calc(var(--line-height) * var(--lines-to-show) * 1em);
}
[data-expandable].expanded [data-expandable-text]{
    height: initial;
}

